<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329266583669-as2rjs99mka1qbpvq6i92c8omg8ugkun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329266583669-as2rjs99mka1qbpvq6i92c8omg8ugkun</string>
	<key>API_KEY</key>
	<string>AIzaSyBs7kLzMxCijht4ZfiElvKSpwrVH6Vza_k</string>
	<key>GCM_SENDER_ID</key>
	<string>329266583669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simbirsoft.DiaryApp</string>
	<key>PROJECT_ID</key>
	<string>interviewproject-b274c</string>
	<key>STORAGE_BUCKET</key>
	<string>interviewproject-b274c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329266583669:ios:8aabcfcb877c369df8003c</string>
</dict>
</plist>